pkgbase = littlenavmap-git
	pkgdesc = A Free Open Source Flight Planner, Navigation Tool, Moving Map, Airport Search, and Airport Information System for Flight Simulator X, Prepar3D, Microsoft Flight Simulator 2020, and X-Plane (git version)
	pkgver = 3.0.18.r291.ge925c14
	pkgrel = 1
	url = https://albar965.github.io/littlenavmap.html
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = patchelf
	depends = qt6-base
	depends = qt6-svg
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-5compat
	depends = curl
	depends = glib2
	conflicts = littlenavmap-bin
	conflicts = littlenavmap
	source = LittleNavmap.desktop
	source = 0000-src_common_maptypes.h.patch
	source = 0001-src_search_searchbasetable.cpp.patch
	source = 0002_src_gui_timedialog.ui.patch
	source = 0003_src_logbook_logdatadialog.ui.patch
	source = 0004_src_routeexport_routeexportdialog.ui.patch
	sha256sums = cd8009076d1f6c4300f98089eeb8acb5ea09fdb3bbafe83ccce910f0a05da51d
	sha256sums = 83d8bad51d53d7badf854aa94f33ce800aa8e5151070b584db9244358b75e719
	sha256sums = e9fecc5a510aa645be23f12390d777d7f5ea725ca04d00320f68dfcfaec5d43a
	sha256sums = e645836ec63a04e0dd3f7337bdd7707d93836872279b8355c1657b38c6a05872
	sha256sums = d9479c8316352a8a7c38df90f3cf596cb91c038c47ed743f55cb03b63025337d
	sha256sums = 5f6f9d4220d0ecc945584e0022fb6224547e16eab9386930ab0c08a7982f011e

pkgname = littlenavmap-git
