[Desktop Entry]
Type=Application
Exec=littlenavmap
Name=Little Navmap
GenericName=Flight Planner
Comment=Flight planner, navigation tool and moving map
Icon=littlenavmap
Terminal=false
Categories=Game;Simulation;
